<html>
    <head>
      {% if title %}
      <title>{{ title }} - Address Book</title>
      {% else %}
      <title>Address Book</title>
      {% endif %}
    </head>
    <body>
        <div>
          Address Book:
          <a href="/home">Home</a>
          <a href="/addresses">Addresses</a>
          <a href="/addresses/new">New Address</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
